.tabs-container{
    width: 90%;
    margin: auto;
    padding-bottom: 20px;
}

@media screen and (max-width:530px) {
  .tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.tabHeader{
    border: 1px solid transparent;
    outline: none;
    background: transparent;
    color: #eee;
    padding: .4rem .7rem;
    font-size: 1.2em;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}

.tabHeader:focus {
  border: 1px solid #97824b;
}

.active-tab{
    border: 1px solid #eee;
}

.tabSection{
    border: 1px solid #eee;
    padding: 15px;
    font-size: 1.2em;

}

.hide-tab{
    display: none;
}

.show-tab{
    display: block;
}

.priser{
  color: #ffdf00;
}
